body{
  min-width: 960px; 
  background-color: #D1D8D7;
  background-image: url("http://images.all-free-download.com/images/graphicthumb/1mio_drops_red_rose_ii_1mio_tropfen_rote_rose_ii_516061.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}


.main{
  background-color: #8EDB6D;  
}


header{
  background-color: green;
  height: 70px;
  width: 100%;
  margin: 0px;
  position: fixed;    
}



header h1{
  margin-top: 20px;
  font-size: 2em;
  padding-bottom: 10px;
  color: white;
  text-shadow: 5px 5px 10px white;
}


ul{
  list-style-type: none;
  margin: 0;
}


ul li{
  color: white;
  float: left;
  padding-top: 25px;
  padding-left: 60px;
}

nav{
  height: 70px;
}

nav li a{
  color: white;
  text-decoration: none;
  padding-right: 5px;
}


.three-col-section{
  font-size: 1.5em;
  padding-top: 20px;
  padding-bottom: 10px;
}

.three-col-section img{
  margin-left: 5px;
}


.three-col-section h2{
  text-align: center;
}

.three-col-section-header{
  padding-top: 70px;
  text-align:center;
  padding-bottom: 10px;
  font-size: 1.5em;
}



.article-style{
  background-image: url('http://orig02.deviantart.net/1a09/f/2017/087/6/4/kanzashi_easter_greeting_card_by_sabrinascraftingclub-db3uj68.jpg');
  background-size: 940px 500px;
}


article{
  margin-bottom: 10px;
  text-align: center;
  color: white;
  background-color: white;
  height: 500px;
  padding-top: 150px;
  font-size: 2em;
}


article a h2{
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 3em;
}



article blockquote{
  color: white;
  font-style:italic;
  font-size: 1.5em;
}



figcaption{
  padding-top:0px;
  padding-bottom: 0px;
}



img{
  padding-bottom: 0px;
}


article a{
  text-decoration: none;
  text-shadow: 3px 5px 5px black;
}



article h1{
  color: white;
}


section h2{
  padding-top: 10px;
  color: green;
}

.second-column{
  font-size: 1.5em;
}


.first-column{
font-size: 1.5em;
}


section a{
  text-decoration: none;
}


a:hover{
  color: white;
}


footer{
  height: 70px;
  background-color: green;
  margin-bottom: 5px;
  color: white;
}


footer section{
  padding-top: 10px;
  padding-left: 10px;
  color: white;
}


